
<mat-sidenav-container class="expander-height">
  <mat-sidenav #sidenav position="start"  mode="push" opened="false" role="navigation">
  <div *ngIf="!identity">
    <mat-nav-list>
      <div>
        <img src="/assets/images/logo_vanxer.png" style="width:246px;"  class="circle card responsive-img">
      </div>
      <mat-divider></mat-divider>
      <br>
      <a mat-list-item routerLink="/home" (click)="sidenav.close()">Inicio</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/servicios" (click)="sidenav.close()">Servicios</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/signin" (click)="sidenav.close()">Login</a>
      <mat-divider></mat-divider>
      
      <a mat-list-item routerLink='/second'>Second Component</a>
    </mat-nav-list>
    </div>
    <!-- Menu cliente -->
    <div *ngIf="identity">
      <div *ngIf="identity.role =='cliente'">
      <mat-nav-list>
      <div style="border-top:0px;">
        <img src="/assets/images/logo_vanxer.png" style="width:246px;"  class="responsive-img">
      </div>
      <mat-divider></mat-divider>
      <br>
        <a mat-list-item routerLink="/home" (click)="sidenav.close()">Inicio</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/home" (click)="sidenav.close()">Pagos</a>
        <mat-divider></mat-divider>
      </mat-nav-list>
      </div>
    </div>
  </mat-sidenav>
  <mat-toolbar color="primary">
  <mat-icon  class="material-icons poi" (click)="sidenav.toggle()">menu</mat-icon>
   Vanxer
  
   <ng-container *ngIf="identity"> <!--ES MEJOR PONER NG CONTAINER Q 'DIV' CON DIV NO ME QUERIA AGARRAR EL MATMETNU-->
   <mat-menu #menu="matMenu" >
    <a mat-menu-item >{{identity.user}}</a>
    <a mat-menu-item >Perfil </a>
    <a mat-menu-item (click)="logout()">Cerrar Sesión</a>
   </mat-menu>
   <span  class="space"></span>
   <mat-icon  [matMenuTriggerFor]="menu" class="poi" >account_circle</mat-icon>
   </ng-container>
   
    <ng-container *ngIf="!identity">
      <span class="space"></span>
      <mat-icon  routerLink="/signin" class="poi">account_circle</mat-icon>
    </ng-container>
  </mat-toolbar>
  <!-- <mat-sidenav-content>
  hola
  </mat-sidenav-content> -->
  <router-outlet></router-outlet>

</mat-sidenav-container>
