
			<h3 style="text-align:center;">¿Deseas ser transportista ?</h3>
			<br>
			<div class="example-container">
			<img src="/assets/images/transportista.jpg"  style="width:300px; display:block; margin:auto;" class="card responsive-img">
			<br>
			<button mat-raised-button color="accent">Afiliarme</button>
			<br>
			<h3 style="text-align:center;">¿Deseas ser cliente ?</h3>
			<br>
			<img src="/assets/images/userr.png" style="width:300px; display:block; margin:auto;" class="card responsive-img">
			<br>
			<button mat-raised-button color="accent" routerLink="/solicitud/clientes">Afiliarme</button>
			<br>
			</div>