<div class="container">
	<div class="row">
		<div class="col l6 offset-l3 m12 s12 x12">
			<h5>Registro de cliente</h5>
			<br>
			<form>
				<label>Correo Electrónico:</label>
				<input type="text" class="" placeholder="Correo Electrónico" name="">
				<label>Contraseña:</label>
				<input type="password" class="" placeholder="Contraseña" name="">
				<label>Contraseña:</label>
				<input type="password" class="" placeholder="Contraseña" name="">
				<label>Contraseña:</label>
				<input type="password" class="" placeholder="Contraseña" name="">
				<label>Contraseña:</label>
				<input type="password" class="" placeholder="Contraseña" name="">
				<br>
				<p style="text-align:center;">
		  			¿Eres nuevo?
		  			<a class="" >Crear Usuario</a>
		  		</p>

				<button type="submit" class="btn-block waves-effect waves-light btn-small blue">Registrarme</button>
			</form>
		</div>
	
</div>
</div>
